dist: bionic
language: java
jdk: openjdk8
addons:
  apt:
    update: true
before_install:
  - chmod +x mvnw
  - rm ~/.m2/settings.xml
  
install: ./mvnw clean install
cache:
  directories:
    - $HOME/.m2
 
 
